* {
    font-family: "Poppins", sans-serif;
}

.paci-text {
    font-family: 'Pacifico', cursive;
}

.cantik-text {
    font-family: 'Berkshire Swash', cursive;
}

.satisfy-text {
    font-family: 'Satisfy', cursive;
}